.elementExample {
  width: 50%;
  height: 50%;
  line-height: 200px;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
}

.elementExample_first {
  background-color: #B558DD;
  float: left;
}
.elementExample_last {
  background-color: #C0392B;
  float: left;
}

.footer{
  width: 100%;
  line-height: 100px;
  background-color: green;
  color: #FFF;
  text-align: center;
  position: absolute;
  bottom: 0px;
}